/*select report filter*/
.select_report_filter {
    clear: both;
    min-height: 30px;
    margin: 6px 4px;
    vertical-align: middle;
  float:left;
  
}

.select_report_filter select {
    font-size: 14px;
    line-height: 2;
    color: #2c3338;
    border-color: #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}
.select_report_filter select:hover {
    color: #0a4b78;
}
.select_report_filter input {
    font-size: 14px;
    line-height: 2;
    color: #2c3338;
    border-color: #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 12px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;    
    cursor: pointer;
    vertical-align: middle;
  color: #2271b1;
    border-color: #2271b1;
    background: #f6f7f7;
}
.select_report_filter input:hover {
    background: #f0f0f1;
    border-color: #0a4b78;
    color: #0a4b78;
}
.report-filter-date, select#domain{
  display:inline-block;
  margin: 0 15px 5px 0;
}


.store-hightlight-dataTable tbody tr {
    cursor: pointer;
}